:root {
  --button-color: rgb(199, 199, 199);
  --button-color-hover: rgba(184, 184, 184, .70);
  --background-color-arrayContainer:  rgb(240, 253, 255);
  --background-color-bar:  rgba(123, 158, 255, 0.75);
  --background-color-header:rgba(178, 172, 194, 0.75) ;
  --background-color-footer:rgba(178, 172, 194, 0.75) ;
}

body{
  background-color: rgb(217, 223, 236);
  margin: 0%;
  padding: 0%;
}

.header{
  width: 100%;
  height: 10vh;
  background-color: var(--background-color-header);
  margin: 0% 0px 2.5% 0px;
  padding: 0%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr ;
}


.title{
  font-weight: bold;
  font-size: 45px;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}
.myname{
  padding: 5% 7%;
}
.container {
  margin: auto;
  justify-self: center;
  align-self: center;
  max-width: 90vw;
  height: 85vh;
  border: 1px solid rgba(160, 160, 160, 0.75) ;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-arrayContainer) ;
}

.array-container {
  min-height: 600px;
  margin: auto;
  width: 100%;
  height: 60%;
  overflow: hidden;
  background-color: var(--background-color-arrayContainer);
  align-items: baseline;
}


.array-item{
  margin: 0 1px;
  width:3px;
  display: inline-block;
  background-color: steelblue;
}

.array-buttons{
  display: block;
  background-color: var(--background-color-bar);
  height: 20%;
}


.slidecontainer {
  width: 25%;
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  margin: 0;
  width: 75%;
  height: 25px;
  background: #d3d3d3;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slide-value{

  text-align: center;
  font-weight: bold;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.button-container{
  width: 15%;
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  margin: 0% 2%;
  background-color: var(--button-color);
  padding: 10px;
  border-radius: 5px;
  border: solid 2px black;
  align-self: center;
  justify-self: center;
}


.button:hover{
  background-color:  var(--button-color-hover);
  cursor: pointer;
}

.sort-buttons{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color:var(--background-color-bar);
  height: 20%;
  width: 100%;
}

.sort-button{
  display: inline-block;
  justify-self: center;
  align-self: center;
  margin: 0% 1% ;  
}

.sort-button-text{
  padding: 10px 15px;
  background-color: var(--button-color);
  border: solid 2px black;
  border-radius: 5px;
}

.sort-button-text:hover{
  background-color: var(--button-color-hover);
  cursor: pointer;
}

.center{
  display:inline-block;
}

.footer{
  display: flex;
  flex-direction: column;
  background-color: var( --background-color-footer);
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  margin: 2.5% 0% 0% 0% ;
}

.contact-header{
  padding: 7px 0;
  margin: 0%;
  font-size: larger;
  font-weight: bold;
  font-size: larger;
}

.social-link{
  padding: 7px 0;
  margin: 0%;
  font-size: larger;
  font-weight: bold;
}

