
.container {
  margin: auto;
  justify-self: center;
  align-self: center;
  max-width: 80vw;
  min-height: 70vh;
  
  background-color: rgb(204, 204, 204);
  
}

.array-container {
  margin: auto;
  justify-self: center;
  align-self: center;
  max-width: 80vw;
  min-height: 70vh;
  
  background-color: rgb(204, 204, 204);
  
}


.array-item{
  margin: 0 1px;
  width:3px;
  display: inline-block;
  background-color: steelblue;
}

.button{
  margin: 5px;
  background-color: aqua;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px black;
}

.button:hover{
  background-color: rgb(136, 136, 136, .75);
  cursor: pointer;
}

.slidecontainer {
  width: 20%;
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

