
.container {
  margin: auto;
  justify-self: center;
  align-self: center;
  max-width: 90vw;
  height: 100vh;
  background-color: rgb(204, 204, 204);
  
}

.array-container {
  margin: auto;
  width: 90%;
  height: 73%;
  overflow: hidden;
  background-color: rgb(180, 143, 143);
  align-items: baseline;
  
}


.array-item{
  margin: 0 1px;
  width:3px;
  display: inline-block;
  background-color: steelblue;
}

.array-buttons{
  display: block;
  background-color: aqua;
  height: 10vh;
}


.slidecontainer {
  width: 20%;
  float: right;
  padding: 2%;
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slide-value{
  text-align: center;
  font-weight: bold;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.button{
  margin: 2%;
  background-color: aqua;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px black;
}

.button:hover{
  background-color: rgb(136, 136, 136, .75);
  cursor: pointer;
}

.sort-buttons{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: blue;
}

.sort-button{
  display: inline-block;
  justify-self: center;
  margin: 1% 0.5% ;
  border-radius: 5px;
  border: solid 3px black;
}

.sort-button:hover{
  background-color: rgb(136, 136, 136, .75);
  cursor: pointer;
}

.sort-button-text{
  padding: 10px 15px;
}

.sort-button-text:hover{
  background-color: rgb(136, 136, 136, .75);
  cursor: pointer;
}

.center{
  display:inline-block;
}


